<% include partials/header %>

    <p>
        <%= campgrounds.name %>
    </p>

    <img src="<%=campgrounds.image%>" alt="camp">

    <p>
        <%=campgrounds.description%>
    </p>

    <% campgrounds.comments.forEach((comment) => { %>
        <p>
            <strong>
                <%=comment.author%>
            </strong> -
            <%=comment.text %>
        </p>
        <%})%>

            <% include partials/footer %>